* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    /* border: 5px solid rgb(0, 139, 23);
    box-sizing: border-box;     */
    position: relative;
    overflow: hidden;
}

canvas {
    border: 5px solid red;
    box-sizing: border-box;    
}
